<!DOCTYPE html>
<html>
<head>
  <title>Lunchnator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
<a href="../" class="navbar-brand">ランチガチャ</a>
</div>

<div class="container">

<%= yield %>

</div>

</body>
</html>
